<% provide(:title, t('static_pages.contact.title')) %>
<h1>
    <%= t('static_pages.contact.title')%>
</h1>
<p><%= t 'static_pages.contact.content.line1'%><a href="https://www.railstutorial.org/contact">contact page</a></p>