<% provide(:title, t('static_pages.help.title'))%>
<h1><%= t('static_pages.help.title')%></h1>
<p><%= t 'static_pages.help.content.line1'%>
  <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
  <%= t 'static_pages.help.content.line2'%>
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>book</a>.
</p>