<h1><%= t('user_mailer.password_reset.title')%></h1>
<%= t('user_mailer.password_reset.content1_html')%>
<%= link_to  t('user_mailer.password_reset.title'), edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<%= t('user_mailer.password_reset.content2_html')%>