<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate  :previous_label => t("labelw.prev_label"), :next_label => t("labelw.next_label")%>
<ul class="users">
    
    <%= render @users %>
    
<%= will_paginate :previous_label => t("labelw.prev_label"), :next_label => t("labelw.next_label")%>
</ul>